<app>
  <router base={ base }>
    <app-header />
    <app-main />
  </router>

  <script>
    import AppHeader from './app-header.riot'
    import AppMain from './app-main.riot'

    export default {
      components: {
        AppHeader,
        AppMain
      },
      base: window.location.origin
    }
  </script>

  <style>
    :host {
        background-color: #eee;
    }
  </style>
</app>
